{% extends "base.html" %} {% block main %}
<style>
    .simulator {
        line-height: 50px;
        display: none;
    }
</style>

<div class="container">
    <div class="row">
        <div class="input-group">

            <input id="debug-url" type="text" class="form-control" placeholder="请输入你要调试的页面url地址">
            <span id="gen-qrcode" class="btn btn-info input-group-addon">生成二维码</span>

            <!-- <span id="search" class="btn btn-success input-group-addon">搜索</span> -->
        </div>
    </div>
    <div class="row" style="text-align:center; padding: 30px;">
        <div id="qrcode" style="display: inline-block;"></div>
        <div>
            <a id="qrcode-url" target="_blank"> </a>
        </div>
    </div>
    <h2>可调式列表：</h2>
    <div class="row find-pages">
        <blockquote>
            没有检查到页面，请检查debugurl是否正确 或者 要调试页面是否已打开。
        </blockquote>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">1. 页面添加 anydebugger.js 脚本代码</h3>
                </div>
                <div class="panel-body">
                    <p>下载
                        <a href="/static/js/anydebugger.js" download="anydebugger.js" target="_blank">anydebugger.js</a>添加到页面,
                        也可以使用debug服务链接 - &lt;script src="
                        <span class="anydebuggerUrl"></span>" &gt;&lt;/script&gt; , 开启debug模式时尽可能早加载该脚本。
                    </p>
                    <br>
                    <p>
                        <a target="_blank" href="/intro">Read more</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">2. 打开页面</h3>
                </div>
                <div class="panel-body">
                    <p>打开你要调试的页面，如果通过debug服务引入的url地址, 跳过。否则需要在页面url后面加上参数 debugurl =
                        <span class="debugurl"></span> ; 可以采用首页提供的
                        <span style="color: red;">生成二维码</span> 服务，输入要访问的url，系统会自动追加 debugurl 参数。</p>

                    <p>
                        <a target="_blank" href="/intro">Read more</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">3. 等待页面连接</h3>
                </div>
                <div class="panel-body">
                    <p>打开目标页面后，稍等片刻，本页面会自动展示出连接到调试服务器的所有页面，并给出客户端相关信息。单击
                        <span style="color: red;">对应页面</span> 即可打开Chrome Devtools调试页面。如果连接不上，请重新打开目标页面。</p>
                    <br>
                    <p>
                        <a target="_blank" href="/intro">Read more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        jQuery(".anydebuggerUrl").html("//" + location.host + "/static/js/anydebugger.js");
        jQuery(".debugurl").html(location.host);

        function parseParam(hashOrSearch) {
            let _search = hashOrSearch.split("?");
            let _result = {};
            if (_search[1]) {
                _search[1].split("&").forEach((item) => {
                    if (item.split("=")[1] && item.split("=")[1] != 'undefined')
                        _result[item.split("=")[0]] = item.split("=")[1];
                })
            }
            return _result;
        }

        let param = parseParam(location.href);
        if (param.url) {
            $("#debug-url").val(param.url);
        }

        if (param.simulator) {
            $(".simulator").append(`<input class="simulator-button" type="checkbox" value="1" ${param.simulatorOn ? "checked" : ""}>`).show()
            $.switcher("input[type=checkbox]")
            $(".simulator-button").on("click", function (e) {
                let open = $(".simulator-button")[0].checked;
                if (open) {
                    document.documentElement.innerHTML = `<frameset id="frameset" cols="30%, 70%" framespacing="5" border="1" bordercolor="#d6d5d6"><frame id="left-inspector" src="${param.simulator}" scrolling="yes" marginwidth="0px" marginheight="0px"></frame><frame id="right-inspector" src="${location.href + "&simulatorOn=1"}" scrolling="yes" marginwidth="0px" marginheight="0px"></frame></frameset>`;
                    $(document.documentElement).append(`<div class='oper-box' style='position: fixed;right: 0;top: 0;background: rgba(0, 0, 0, 0.2);border-radius: 3px;'><span title='back' class="back" style='cursor:pointer;padding: 0 5px;background: orange;border-radius: 3px;margin: 5px 5px;color: #fff;display:inline-block;'>&larr;</span><span class="refresh" style='cursor:pointer;padding: 0 5px;background: orange;border-radius: 3px;margin: 5px 5px;color: #fff;display:inline-block;' title='refresh'>&dagger;</span></div>`)
                    $(".oper-box>.back").on("click", function () {
                        document.getElementById("right-inspector").contentWindow.location.href = location.href + "&simulatorOn=1";
                    })
                    $(".oper-box>.refresh").on("click", function () {
                        document.getElementById("right-inspector").contentWindow.location.reload();
                    })

                } else {
                    window.parent.location.href = window.parent.location.href.replace("&simulatorOn=1", "")
                }
            })

        } else {
            $(".simulator").hide()
        }
        function genQrcode() {
            document.getElementById("qrcode").innerHTML = ""
            document.getElementById("qrcode-url").innerHTML = ""

            let url = document.querySelector("#debug-url").value;
            if (!url) return;
            if (url.match(/\?/)) {
                url += "&debugurl=" + location.host
            } else {
                url += "?debugurl=" + location.host
            }

            new QRCode(document.getElementById("qrcode"), url);  // 设置要生成二维码的链接
            document.getElementById("qrcode-url").innerHTML = url
            document.getElementById("qrcode-url").href = url
        }
        document.querySelector("#gen-qrcode").addEventListener("click", genQrcode)
        function findPage(pages) {
            if (pages) {
                $(".find-pages blockquote").remove()
                pages.forEach(function (page) {
                    let date = new Date(page.metadata.timestamp)
                    let time = ("0" + (date.getMonth() + 1)).substr(-2, 2) + "-" +
                        ("0" + (date.getDate())).substr(-2, 2) + " "
                        + ("0" + date.getHours()).substr(-2, 2) + ":"
                        + ("0" + date.getMinutes()).substr(-2, 2) + ":"
                        + ("0" + date.getSeconds()).substr(-2, 2)
                    $(".find-pages").append(`
                        <blockquote >
                            <a class="debug-target"  ${!param.simulatorOn ? 'target="_blank"' : ''} href="${page.localDevtoolsFrontendUrl}">(点我打开调试界面)    UserAgent： ${page.metadata.userAgent}</a>
                            <footer class="page-title">${page.title}, 打开时间：${time}, 浏览器： ${page.metadata.vendor}, 操作系统：${page.metadata.platform}</footer>
                        </blockquote>
                    `)
                })
                if (param.simulator) {
                    $(".debug-target").on("click", function (evt) {

                    })
                }
            } else {
                $(".find-pages").append(`
                        <blockquote>
                            没有检查到页面，请检查anydebugger.js是否引入，页面是否已打开。
                        </blockquote>
                    `)
            }
        }
        var socket = io(`http://${location.host}/json`);
        socket.on('json', function (data) {
            findPage(JSON.parse(data));
        });
        setTimeout(genQrcode(), 300)
        $("#debug-url").on("keyup", function (e) {
            if (e.keyCode == 13) {
                genQrcode()
            }
        })
    </script>

</div>
{% endblock %}